#scroll_wrapper {
  max-width: 1600px;
}

.p3 {
  display: flex;
  justify-content: center;
  margin-bottom: 380px;
}

body {
  background-color: #000;
  color: #eee;
}

header {
  margin: auto;
  max-width: 80vw;
  padding-bottom: 30px;
}

main {
  margin: auto;
  display: flex;
  justify-content: center;
}

#end_of_line {
  text-align: center;
  padding-bottom: 40px;
}
