#scroll_wrapper {
  max-width: 1600px;
}

.p3 {
  background-color: blue;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.p2 {
  background-color: blue;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.p2 img {
  vertical-align: bottom;
  background-color: red;
}

.photo {
  margin-top: 20px;
  margin-bottom: 140px;
}

.photo img {
  vertical-align: bottom;
  background-color: black;
  padding: 4px;
  border-left: 80px solid white;
  border-right: 80px solid white;
  border-top: 80px solid white;
  border-bottom: 120px solid white;
}

@media (max-width: 800px) {
  .photo {
    margin-top: 20px;
    margin-bottom: 140px;
  }
  .photo img {
    vertical-align: bottom;
    background-color: black;
    padding: 2px;
    border-left: 18px solid white;
    border-right: 18px solid white;
    border-top: 18px solid white;
    border-bottom: 66px solid white;
  }
}

body {
  background-color: #000;
  color: #eee;
}

header {
  margin: auto;
  max-width: 80vw;
}

main {
  margin: auto;
  display: flex;
  justify-content: center;
}

#end_of_line {
  text-align: center;
  padding-bottom: 40px;
}
